# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [6]:
# Your code here:
pokemon['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [25]:
# Your code here:
print('Legendary Pokemon')
pokemon[pokemon['Legendary'] == True].describe().loc[['mean','std']]

Legendary Pokemon

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
mean,470.215385,637.384615,92.738462,116.676923,99.661538,122.184615,105.938462,100.184615,3.769231
std,173.651095,60.937389,21.722164,30.348037,28.255131,31.104608,28.827004,22.952323,1.455262

In [26]:
print('Non Legendary Pokemon')
pokemon[pokemon['Legendary'] == False].describe().loc[['mean','std']]

Non Legendary Pokemon

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
mean,353.315646,417.213605,67.182313,75.669388,71.559184,68.454422,68.892517,65.455782,3.284354
std,208.590419,106.760417,24.808849,30.490153,30.408194,29.091705,25.669310,27.843038,1.673471

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [34]:
# Your code here:
from scipy.stats import ttest_ind
pokemon.columns
lengend_pok = pokemon[pokemon['Legendary'] == True][['Total', 'HP', 'Attack', 'Defense','Sp. Atk', 'Sp. Def', 'Speed', 'Generation']]
non_legend_pok = pokemon[pokemon['Legendary'] == False][['Total', 'HP', 'Attack', 'Defense','Sp. Atk', 'Sp. Def', 'Speed', 'Generation']]
ttest_ind(lengend_pok,non_legend_pok )

Ttest_indResult(statistic=array([16.38611697,  8.03612441, 10.39732102,  7.18124012, 14.19140621,
       11.03775106,  9.76523433,  2.26129105]), pvalue=array([3.09524575e-52, 3.33064768e-15, 7.82725300e-24, 1.58422261e-12,
       6.31491577e-41, 1.84398096e-26, 2.35407544e-21, 2.40096819e-02]))

What do you conclude from this test? Write your conclusions below.

In [6]:
# Your conclusions here:
#generation is relevant but not as relevant as other attributes since pvalue is 0.024

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [43]:
# Your code here:
pokemon.groupby(by='Type 1')['Name'].count().sort_values(ascending=False)

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ghost        32
Ground       32
Dragon       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Name, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [67]:
# Your code here:
comp_pok = pokemon.groupby(by='Type 1').agg(('mean','std')).T
comp_pok
#comp_pok.columns
#comp_pok[comp_pok['Type 1'] == 'mean']

Type 1                  Bug        Dark      Dragon    Electric       Fairy  \
#          mean  334.492754  461.354839  474.375000  363.500000  449.529412
           std   210.445160  176.022072  170.190169  202.731063  271.983942
Total      mean  378.927536  445.741935  550.531250  443.409091  413.176471
           std   117.875223  109.126217  146.267538  105.721952  123.781680
HP         mean   56.884058   66.806452   83.312500   59.795455   74.117647
           std    16.328914   21.078297   23.795415   17.306511   23.587291
Attack     mean   70.971014   88.387097  112.125000   69.090909   61.529412
           std    37.040904   25.774247   33.742622   23.764169   29.751298
Defense    mean   70.724638   70.225806   86.375000   66.295455   65.705882
           std    33.617609   25.121982   24.102938   24.757033   18.979478
Sp. Atk    mean   53.869565   74.645161   96.843750   90.022727   78.529412
           std    26.697055   33.200952   42.257360   29.740340   28.548462
Sp. Def    mean   64.797101   69.516129   88.843750   73.704545   84.705882
           std    32.126395   24.799020   29.884843   22.601275   29.721130
Speed      mean   61.681159   76.161290   83.031250   84.500000   48.588235
           std    33.227599   27.768203   23.239961   26.691607   23.305200
Generation mean    3.217391    4.032258    3.875000    3.272727    4.117647
           std     1.598433    1.353609    1.431219    1.604697    2.147160
Legendary  mean    0.000000    0.064516    0.375000    0.090909    0.058824
           std     0.000000    0.249731    0.491869    0.290803    0.242536

Type 1             Fighting        Fire      Flying       Ghost       Grass  \
#          mean  363.851852  327.403846  677.750000  486.500000  344.871429
           std   218.565200  226.262840   42.437209  209.189218  200.264385
Total      mean  416.444444  458.076923  485.000000  439.562500  421.142857
           std   102.464378  109.760496  161.400124  110.072685  106.650626
HP         mean   69.851852   69.903846   70.750000   64.437500   67.271429
           std    25.852695   19.404123   20.694202   31.685895   19.516564
Attack     mean   96.777778   84.769231   78.750000   73.781250   73.214286
           std    28.290163   28.769275   37.500000   29.629687   25.380520
Defense    mean   65.925926   67.769231   66.250000   81.187500   70.800000
           std    18.578163   23.658200   21.360009   32.551138   24.485192
Sp. Atk    mean   53.111111   88.980769   94.250000   79.343750   77.500000
           std    28.159345   30.042121   34.769479   32.561217   27.244864
Sp. Def    mean   64.703704   72.211538   72.500000   76.468750   70.428571
           std    22.745777   22.619908   22.173558   26.038414   21.446645
Speed      mean   66.074074   74.442308  102.500000   64.343750   61.928571
           std    26.054567   25.245783   32.098806   28.020280   28.506456
Generation mean    3.370370    3.211538    5.500000    4.187500    3.357143
           std     1.800601    1.850665    0.577350    1.693203    1.579173
Legendary  mean    0.000000    0.096154    0.500000    0.062500    0.042857
           std     0.000000    0.297678    0.577350    0.245935    0.203997

Type 1               Ground         Ice      Normal      Poison     Psychic  \
#          mean  356.281250  423.541667  319.173469  251.785714  380.807018
           std   204.899855  175.465834  193.854820  228.801767  194.600455
Total      mean  437.500000  433.458333  401.683673  399.142857  475.947368
           std   123.913081  108.281027  115.733038   92.358687  139.026645
HP         mean   73.781250   72.000000   77.275510   67.250000   70.631579
           std    25.662492   21.286861   36.233430   19.665019   28.421340
Attack     mean   95.750000   72.750000   73.469388   74.678571   71.456140
           std    33.059087   27.289511   30.295862   19.630010   42.309265
Defense    mean   84.843750   71.416667   59.846939   68.821429   67.684211
           std    33.786912   34.387708   23.771833   21.066128   28.359401
Sp. Atk    mean   56.468750   77.541667   55.816327   60.428571   98.403509
           std    28.135598   26.604967   23.946395   19.322657   38.539340
Sp. Def    mean   62.750000   76.291667   63.724490   64.392857   86.280702
           std    21.267877   37.213227   25.142801   19.887348   31.126329
Speed      mean   63.906250   63.458333   71.551020   63.571429   81.491228
           std    27.450083   24.498410   28.406157   22.631392   37.335412
Generation mean    3.156250    3.541667    3.051020    2.535714    3.385965
           std     1.588454    1.473805    1.575407    1.752927    1.644845
Legendary  mean    0.125000    0.083333    0.020408    0.000000    0.245614
           std     0.336011    0.282330    0.142119    0.000000    0.434277

Type 1                 Rock       Steel       Water
#          mean  392.727273  442.851852  303.089286
           std   213.746140  164.847180  188.440807
Total      mean  453.750000  487.703704  430.455357
           std   108.059227  115.420907  113.188266
HP         mean   65.363636   65.222222   72.062500
           std    20.833884   16.044010   27.487026
Attack     mean   92.863636   92.703704   74.151786
           std    35.325458   30.388276   28.377192
Defense    mean  100.795455  126.370370   72.946429
           std    36.447209   44.806548   27.773809
Sp. Atk    mean   63.340909   67.518519   74.812500
           std    28.249670   31.458606   29.030128
Sp. Def    mean   75.477273   80.629630   70.517857
           std    32.265965   29.018758   28.460493
Speed      mean   55.909091   55.259259   65.964286
           std    29.903580   25.846578   23.019353
Generation mean    3.454545    3.851852    2.857143
           std     1.848375    1.350319    1.558800
Legendary  mean    0.090909    0.148148    0.035714
           std     0.290803    0.362014    0.186411

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [77]:
# Your code here:
water_pokemon = pokemon[pokemon['Type 1'] == 'Water']['Total']
non_water_pokemon = pokemon[pokemon['Type 1'] != 'Water']['Total']

ttest_ind(water_pokemon,non_water_pokemon, equal_var=True)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [10]:
# Your conclusions here:
#there are significant difference between each other

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [68]:
# Your code here:
from scipy.stats import ttest_rel

Describe the results of the test in the cell below.

In [69]:
# Your conclusions here:
ttest_rel(pokemon['Attack'], pokemon['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [71]:
# Your code here:
ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:
#there is no significant difference between them pvalue is extremely high

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [78]:
# Your code here:
from scipy.stats import ttest_1samp
dif = pokemon['Attack'] - pokemon['Defense']
ttest_1samp(dif,0)

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [17]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: